body {
  background-size: 1900px 400px;
  background-image: url("../foto/foto1_big.jpg");
  background-repeat: no-repeat;
  background-position: top;
}
img {
  width: 800px;
position: relative;
top: 500px;
left: 100px;
}
video{
  width: 800px;
position: relative;
top: 500px;
left: 100px
}
a {
  width: 800px;
  position: 
}